<div class="sidebar col-3 col-sm-3 col-md-3">
  <a class="navbar-brand" href="#">
    <h1>O-Bay!</h1>
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/categories" routerLinkActive="active"><i class="material-icons" routerLink="category">category</i>Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/products" routerLinkActive="active"><i class="material-icons" routerLink="products">work</i>Products</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link active"><i class="material-icons" routerLink="users" >face</i>Users</a>
    </li> -->
  </ul>